<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Doadores</title>
</head>
<body>

    <h1>Cadastrar Doador</h1>

    <form method="POST">
        <input type="text" name="nome" placeholder="Nome" required><br><br>
        <input type="email" name="email" placeholder="Email"><br><br>
        <input type="text" name="cep" placeholder="CEP"><br><br>

        <button type="submit">Cadastrar</button>
    </form>

    <hr>

    <h2>Lista de Doadores</h2>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>CEP</th>
        </tr>

        {% for d in doadores %}
        <tr>
            <td>{{ d.id }}</td>
            <td>{{ d.nome }}</td>
            <td>{{ d.email }}</td>
            <td>{{ d.cep }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>